{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}<title>Change Password - RecipeHub</title>{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="w-100" style="max-width: 420px;">
            {% if token_fail %}
                <h2 class="mb-4 text-center">Bad Token</h2>
                {% url 'account_reset_password' as password_reset_url %}
                <p class="text-center">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ password_reset_url }}">new password reset</a>.
                </p>
            {% else %}
                <h2 class="mb-4 text-center">Change Password</h2>
                <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {{ field.errors }}
                            {% if field.help_text %}
                                <div id="{{ field.auto_id }}" class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-orange">Change Password</button>
                    </div>
                </form>

                {% if not cancel_url %}
                    <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
                        <input type="hidden" name="next" value="{% url 'account_login' %}">
                        {% csrf_token %}
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}