{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    <title>Change Password - RecipeHub</title>
{% endblock title %}

{% block content %}
    <div class="container mt-5 reset-container">
        {% if token_fail %}
            <h2 class="mb-4 text-center">Bad Token</h2>
            {% url 'account_reset_password' as password_reset_url %}
            <p class="text-center">
                The password reset link was invalid, possibly because it has already been used.
                Please request a <a href="{{ password_reset_url }}">new password reset</a>.
            </p>
        {% else %}
            <h2 class="mb-4 text-center">Change Password</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <div id="{{ field.auto_id }}" class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-orange w-100">Change Password</button>
            </form>

            {% if not cancel_url %}
                <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
                    <input type="hidden" name="next" value="{% url 'account_login' %}">
                    {% csrf_token %}
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
