{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ request.user.username }} - Profile</title>
{% endblock title %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Your Profile</h5>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <!-- Avatar -->
                <div class="col-auto mb-3 mb-md-0">
                    {% if request.user.photo %}
                        <img src="{{ request.user.photo.url }}"
                             class="rounded-circle"
                             alt="Avatar"
                             style="width: 100px; height: 100px; object-fit: cover; object-position: center;">
                    {% else %}
                        <img src="{% static 'images/no-avatar.jpg' %}" class="rounded-circle" alt="Avatar" width="100"
                             height="100">
                    {% endif %}
                </div>

                <!-- Info about user -->
                <div class="col">
                    <h4 class="mb-1">{{ request.user.username }}</h4>
                    {% if request.user.email %}
                        <p class="text-muted mb-1">{{ request.user.email }}</p>
                    {% endif %}
                    {% if request.user.date_of_birth %}
                        <p class="text-muted mb-1">Date of birth: {{ request.user.date_of_birth }}</p>
                    {% endif %}
                    <p class="small text-muted">Member since {{ request.user.date_joined }}</p>
                </div>
                <!-- Edit and Change password buttons -->
                <div class="col-auto d-flex flex-column gap-2">
                    <a href="{% url "profile-edit" request.user.pk %}" class="btn btn-orange">Edit Profile</a>
                    <a href="{% url "account_change_password" %}" class="btn btn-orange">Change password</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
