.navbar-brand.logo {
    color: #ff6b00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand.logo:hover {
    color: #f79f4d;
}

.dropdown-item:active,
.dropdown-item.active {
    color: #fff !important;
    background-color: #f79f4d !important;
}

.sidebar {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1rem;
}

.sidebar-block {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.btn-orange {
    background-color: #f79f4d;
    color: white;
    border: none;
    transition: all 0.2s ease;
}

.btn-orange:hover {
    color: white;
    background-color: #e65a00;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(230, 90, 0, 0.2);
}

.pagination .page-link {
    background-color: #fff;
    color: #fd7e14;
}

.pagination .page-item.active .page-link {
    border: none;
    background-color: #f79f4d;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    border: none;
    background-color: lightgrey;
    color: #8a8787;
}

.moderate_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}